doctype html
html
    head
        meta(charset="utf-8")
        title Show Alunos
    body
        h1 Show Alunos
        p
            strong Id:
            | #{aluno.id}
        p
            strong Nome:
            | #{aluno.nome}
        p
            strong Nota 1:
            | #{aluno.nota1}
        p
            strong Nota 2:
            | #{aluno.nota2}
        p
            strong Media:
            | #{aluno.media}
        p
            strong Situação:
            | #{aluno.situacao}
